DATABASE_URL=postgresql://postgres@signsafe-db:5432/signsafe_db
RABBITMQ_URL=amqp://guest:guest@signsafe-queue:5672
QDRANT_URL=http://signsafe-vector:6333
S3_ENDPOINT=http://signsafe-store:8333
S3_ACCESS_KEY=signsafe-dsm-project-signsafe-store-contracts
S3_SECRET_KEY=signsafe-dsm-project-signsafe-store-contracts-secret
S3_BUCKET=contracts
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
